<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/customer.css" rel="stylesheet">

  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">抽屉</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">全部</a></li>
			{% for category in bbs_category %}
			{% ifequal category.id cata_id%}
			<li class="active"><a href="/blog/category/{{category.id}}/">{{category.name}}</a></li>
			{% else %}
			<li class=" "><a href="/blog/category/{{category.id}}/">{{category.name}}</a></li>
			{% endifequal %}

			{% endfor %}
		  </ul>

          <ul class="nav navbar-nav">
            <li class="active"><a href="/blog/bbs_pub">write</a></li>
		  </ul>
			<ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="/login/" class="dropdown-toggle pull-right" data-toggle="dropdown" > 
			  {% if user.is_authenticated %}
			  {{user.username}}
			  {%else%}
			    登录
			  {% endif %}
			  <span class="caret"></span></a>
			  <ul class= "dropdown-menu" role= "menu">
			  	<li><a href="#">Action</a></li>
			 	<li><a href="/logout/">Logout</a></li>
			  </ul>

            </li>
			</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container center-container-hx">
	  {% block page-content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="contents">
	  	{% for bbs in bbs_list %}
			<a href = "/blog/detail/{{bbs.id}}/">{{bbs.title}}</a>
			<br>
			{{bbs.summary}}
			<br>
		{% endfor %}
      </div>
	  {% endblock %}
     </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  

</body></html>
